/* 默认生成的模板内容 */
@charset "UTF-8";


body {
    margin: 0;
}
/* 你的自定义样式 */
/*#main {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    max-width: 100%;*/
/*    min-height: 100vh;*/
/*}*/

.earth-background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.echarts-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* 确保图表在内容下方 */
}